<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%5p [%t] - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.mybatis" level="trace" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="trace">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>